<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <h1>To do</h1>
    <div id="to-do table"><form method="POST" action="/todo"><input type="text" name="item" placeholder="Add new item"/><button type="submit" id="btn">Add item</button></form>
        <ul>
            <% todos.forEach(function(element){ %>
                <li><%= element['item'] %></li>
                <% }) %>
            <!-- <% for(var i=0;i< todos.length;i++){ %>
            <li><%= todos[i].item %></li>
            <% } %> -->
        </ul>
    </div>
    <script src="/assets/todo.js"></script>
</body>
</html>